html
    head
        title Form 2
    body
        form(action='/StudentForm' method='post')
            label Name : 
            input(type="text" name='name')
            br

            label email : 
            input(type="email" name='email')
            br

            label course : 
            input(type="text" name='course')
            br

            input(type='submit' value='upload')
            